<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner d-flex">
      <form id="search-form" class="col-9" action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control search-input" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <form action="/sort" class="col-3 align-self-end ps-3">
        <select name="sort" class="form-select" aria-label="Default select example" onchange="this.form.submit()">
          <option value="default" selected>排序</option>
          <option value="asc" {{#if selected.asc}} selected {{/if}}>A -> Z</option>
          <option value="desc" {{#if selected.desc}} selected {{/if}}>Z -> A</option>
          <option value="category" {{#if selected.category}} selected {{/if}}>類別</option>
          <option value="location" {{#if selected.location}} selected {{/if}}>地區</option>
        </select>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants}}
        <div class="col-sm-4">
          {{#with this}}
          <a href="/restaurants/{{ _id }}" class="text-secondary restaurant">
            <div class="card mb-3" style="overflow: hidden;">
              <div class="restaurant-image" style="overflow: hidden;">
                <img class="card-img-top" src="{{image}}" alt="{{name}}">
              </div>
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2 me-1"></i>{{category}}
                </div>
                <span class="badge rounded-pill text-bg-danger">
                  {{rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
              <div class="px-3 pb-2 text-end">
                <a href="/restaurants/{{ _id }}/edit" class="pe-3 icon"><i
                    class="fa-solid fa-pencil text-secondary"></i></a>
                <a href="/restaurants/{{ _id }}" class="pe-3 icon"><i
                    class="fa-solid fa-file-lines text-secondary"></i></a>
                <button type="button" class="btn bg-transparent" data-bs-toggle="modal" style="border: 0; padding: 0;" data-bs-target="#a{{ _id }}">
                  <i class="fa-solid fa-trash-can text-secondary text-end"></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="a{{ _id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">刪除食記</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      您確定要刪除{{name}}嗎?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                      <form action="/restaurants/{{_id}}?_method=DELETE" method="POST">
                        <button id="submit-button" type="submit" class="btn btn-primary">確定</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          {{/with}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
